[Desktop Entry]
Type=Application
Name=PlantyAutostart
Exec=xfce4-terminal --fullscreen --hide-menubar --hide-toolbar --hide-borders --command="bash -c 'sleep 5; cd /home/keno/Desktop/Planty && ./Planty; read'"
Terminal=false
Name[en_GB]=PlantyAutostart

